a.swap:hover {
	background: url("http://i183.photobucket.com/albums/x40/m0ufin/30SecondTimer.gif");
}
a.swap {
	background-color: #dbb9b9;
	width: 150px;
	height: 100px;
	display: inline-block;
}
a, a:link, a:visited, a:active, a:hover {
	color: #7f7f7f;
	text-decoration: none;
}
body {
	background-color: #f9f9f9;
	font: 12pt arial;
	color: #7f7f7f;
}
a.click {
	color: #7f7f7f;
	text-align: center;
	vertical-align: middle;
}
td {
	background-color: #e7e2e2;
}
